.loginHead {
  color: #497174;
  font-size: 3rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.loginSub {
  color: #497454;
  font-size: 1.5rem;
  margin: 5rem 0;
}

.login-btn {
  min-width: 10rem;
  line-height: 3rem !important;
  font-size: 1rem !important;
}
