.statsHead {
  color: #497174;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stats-btn {
  margin-top: 0.6rem;
  margin-left: 1rem;
}

.outer {
  margin: 2rem;
  vertical-align: bottom !important;
  
}

.inner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  margin: 0.3rem !important;
  display: inline-block;
}

.stats-btn {
  margin-right: 1rem !important;
  min-width: 3rem !important;
  font-size: 1.2rem !important;
}
