.taxHead{
    color: #497174;
    font-size: 3rem;
    margin-top: 3rem;
}

.tax-btn {
    margin-top: 2rem !important;
    min-width: 3rem !important;
    line-height: 3rem !important;
    font-size: 1.3rem !important;
}

.tax {
    border-width: 1rem!important;
    margin: 1rem !important;
}

.tax-text {
    margin: 1rem;
    display: inline-block;
}